<html>
	<head>
		<title>History</title>
		<style>
			table {
			    font-family: arial, sans-serif;
			    border-collapse: collapse;
			    width: 60%;
			}
			td, th {
			    border: 4px solid #dddddd;
			    text-align: left;
			    padding: 8px;
			}
	
			tr:nth-child(even) {
			    background-color: #dddddd;
			}
		</style>
	</head>
	<body>
		<table id='id_history_table'>
  			<tr>
    				<th>No.</th>
				<th>Subject</th>
    				<th>From</th>
  			</tr>
			{% for letter in letter_list %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ letter.subject }}</td>
				<td>{{ letter.sent_time|date:"d/M/Y H:m" }}</td>
			</tr>
                	{% endfor %}
		</table>
		<form action='/'><input type='submit' value='back' /></form>
	</body>
</html>
