<html>
	<head>
		<title>Write your letter.</title>
		<style>
			label { display:inline-block; vertical-align:central; }
			textarea { display:inline-block; vertical-align:top; }

		</style>
	</head>
	<body>
		<form action='/letter/send' method='post'>
                {% csrf_token %}
		<div>
                    <label for="">Subject:</label>
		    <input type="text" name="subject" placeholder="Enter subject here." maxlength="100" required id="id_subject" />
		</div>
			<div>
				<label for="">Message:</label>
				<textarea name="message" cols="40" rows="10" placeholder="Enter message here." required id="id_message">
</textarea>
			</div>
			<div>
    				<label for="">Send to:</label>
				<input type="text" name="to" id="id_to" />
			</div>
			<div class='datetimearea'>
                                <label for="">Send time:</label>
                                <input type="text" name="datetime" id="datetimepicker" placeholder="dd/mm/yyyy hh:mm" required />
                        </div>
			<input type='submit' id='id_send' value='Send' />
		</form>
	</body>
</html>
